body {
  font-size: 16px !important;
}

#home-button {
  position: absolute;
  top: 130px;
  left: 17px;
  z-index: 2;
}

#locate-button {
  position: absolute;
  top: 165px;
  left: 17px;
  z-index: 3;
}

#vt-campus-map_zoom_slider {
  position: absolute;
  top: 60px;
  left: 17px;
  z-index:3
}

.vt-foreground-color {
  color: #C64600 !important;
}

.vt-background-color {
  background-color: #8b1f41 !important;
}

.push-right {
  padding-left: 10px;
}
