<!-- Search by name modal-->
<div class='modal fade' id='search-by-name-modal'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class='modal-title'>Search by name</h4>
      </div>
      <div class='modal-body'>
        <input type='search' class='form-control'
          placeholder='Enter the name of the place'>
      </div>
    </div>
  </div>
</div>
