<div>
  <div data-dojo-attach-point="mapNode">
    <div id="locate-button"></div>
    <div id="home-button"></div>
    <div id="search-by-category-modal"></div>
    <div id="search-by-name-modal"></div>
    <div class="modal fade" class=".visible-xs-block" id="featured-bookmarks-modal">
      <div class='modal-dialog'>
        <div class='modal-content'>
          <div class='modal-header'>
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
            <h4 class='modal-title'>Featured Bookmarks</h4>
          </div>
          <div class='modal-body'>
            <ul class='list-unstyled'
              id='featured-bookmarks-modal-content'>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade searchResults-modal"
      style="display: none;" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close"
              data-dismiss="modal" aria-hidden="true">
              x
            </button>
            <h4 class="modal-title">Search Results</h4>
          </div>
          <div class="modal-body">
            <div id='searchResultsDiv'>
              <div class='itemsList' id='searchResults'></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
