<div>
  <div class='navbar navbar-default navbar-fixed-top vt-background-color' id='vt-nav-bar'>
    <div class='container-fluid'>
      <div class='navbar-header'>
        <button type='button' class='navbar-toggle'
          data-toggle='collapse' data-target='.navbar-collapse'>
          Menu
        </button>
        <a class="navbar-brand" id="vt-logo" href="#">
          <img src='imgs/VT-Logo.png' class='img-responsive' />
        </a>
        <button type="button" id="searchField" class="navbar-toggle visible-xs">Search</button>
      </div>
      <div class='collapse navbar-collapse'>
        <ul class='nav navbar-nav push-right'>
          <li class='dropdown'>
            <a href='#' class='dropdown-toggle' id='map-type-nav' data-toggle='dropdown'>
              Map Type <b class='caret hidden-xs'></b>
            </a>
            <ul class="dropdown-menu vt-background-color" role="menu"> 
              <div class='row' id='mapType-gallery'>
              </div>
            </ul>
          </li>
          <li class='dropdown'>
            <a href='#' class="dropdown-toggle" id="find-places-nav" data-toggle='dropdown'>
              Find Places <span class="caret hidden-xs"></span>
            </a>
            <ul class="dropdown-menu vt-background-color" role="menu">
              <li>
                <a href="#" id="search-by-name">
                  Search by name &nbsp;
                  <i class="glyphicon glyphicon-new-window"></i>
                </a>
              </li>
              <li>
                <a href="#" id="search-by-category">
                  Search by category &nbsp;
                  <i class="glyphicon glyphicon-new-window"></i>
                </a>
              </li>
            </ul>
          </li>
          <li class='dropdown'>
            <a href='#' class='dropdown-toggle' id='featured-nav' data-toggle='dropdown'>
              Featured <span class="caret hidden-xs"></span>
            </a>
            <ul class="dropdown-menu vt-background-color hidden-xs" id='featured-bookmarks'> 
            </ul>
          </li>
          <li class='dropdown'>
            <a href='#' class='dropdown-toggle' id='layers-nav' data-toggle='dropdown'>
                Layers <b class='caret hidden-xs'></b>
            </a>
            <div class='dropdown-menu hidden-xs'>
            	<div id='layers'></div>
            </div>
          </li>
          <li class='dropdown'>
            <a href='#' class='dropdown-toggle' id='legend-nav' data-toggle='dropdown'>
                Legend <b class='caret hidden-xs'></b>
            </a>
            <div class='dropdown-menu hidden-xs'>
            	<div id='legend'></div>
            </div>
          </li>
        </ul>
        <p class="navbar-right navbar-text">
          <a href='#about' id='about-nav' class='navbar-link vt-nav-link vt-foreground-color'>
            About VT Campus Map
          </a>
        </p>
      </div>
    </div>
  </div>
  
  
  <!-- about modal -->
  <div class='modal fade' id='about-modal' style='display: none;' aria-hidden='true'>
    <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-header'>
          <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>x</button>
          <h4 class='modal-title'>About</h4>
        </div>
        <div class='modal-body'>
          <div id='help-content'>
            <p>
              This interactive map is based on data and images provided by several groups within the university.
              The map is subject to continual change as the university grows,
              new features are added, and outdated information is purged from the databases that supply map information.
            </p>
            <p>
              Navigation features of this map (category search, featured places,
              etc) are currently only accurate to the building level.
              The position of the 'pointer' or other indicator graphics should
              not be interpreted to identify the specific room in which a point of interest is located.
            </p>
            <p>
              At this time, street address searches require the exact address in order to yield a result.
              Details on the new street addresses can be found
              <a href='http://www.vt.edu/street-address/'>here</a>.
            </p>
            <p>
              The 'Find my Location' feature relies on your browser's geolocation service
              (<a href='http://www.mozilla.org/en-US/firefox/geolocation/'>what's this?</a>)
              to arrive at a best guess of where you are.
              The accuracy of this estimate may vary dramatically.
            </p>
            <p>
              Access routes may be blocked by construction or maintenance work
              – users should check the
              <a href='http://www.pdc.facilities.vt.edu/mediawiki/index.php/Main_Page'>
                University Projects page
              </a>,
              <a href='http://www.facilities.vt.edu/documents/udc/wiki/landdist.pdf'>
                Land Disturbing Projects page
              </a> and/or the
              <a href='http://www.hr.vt.edu/oea/ada/universal-campus-access/index.html'>
                Universal Access Map 
              </a>
              to see if their planned route could be impacted.
            </p>
            <p>
              We invite users to help us improve the quality and accuracy of
              the map by letting us know of omissions, problems, or new
              features you would like to see added to the map.
              You can contact us by sending an email to
              <a href='mailto:webmaster@vt.edu'>webmaster@vt.edu</a>
              -- thank you for your valuable input!
            </p>
            <hr>
          </div>
          <div id='help-footer'>
            This map was developed through a collaboration between University
            Relations, Facilities Services: Engineering Operations,
            Enterprise GIS, the Blacksburg Electronic Village,
            and the Office of Equity and Access.
          </div> 
          <p>
            <a href='${moreInfoUrl}'>
              More...
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
